body {
    margin: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section {
    display: block;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  figcaption,
  figure,
  main {
    display: block;
  }

  figure {
    margin: 1em 40px;
  }
  
  hr {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
 
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
  }
  
  b,
  strong {
    font-weight: inherit;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
 
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  dfn {
    font-style: italic;
  }

  mark {
    background-color: #ff0;
    color: #000;
  }
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  
  img {
    border-style: none;
  }

   
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  
  legend {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%; 
    padding: 0; 
    white-space: normal;
  }
  
  progress {
    display: inline-block;
    vertical-align: baseline;
  }
  

  textarea {
    overflow: auto;
  }
  
  
  [type="checkbox"],
  [type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0; 
  }

  
  details,
  menu {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  canvas {
    display: inline-block;
  }
  
  
  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }

  @font-face {
    font-family: "PT Sans";
    font-weight: 400;
    src:
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  }

  @font-face {
    font-family: "PT Sans";
    font-weight: 800;
    src:
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  }

  .wrapper {
    width: 1200px;
    margin: auto;
      -webkit-box-shadow: 0px 0px 5px 0px #34495e;
              box-shadow: 0px 0px 5px 0px #34495e;
      background-color: #ffffff;
  }

  body {
    font-family:"PT Sans","Arial", sans-serif;  
    margin:0;
    padding: 0;
    text-transform: uppercase;
    color:#ffffff;
    font-weight: 400;
    background: #f2f2f2;
  }

  .elem {
    font-weight: 800;
  }

  .tel {
    font-weight: 800;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .header__inner {
    padding: 0 6%;
    position: relative;
  }

  .header__nav {
    height: 57px;
  }

  .visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

  .nav__logo-link {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: url("../img/logo.png") no-repeat;
    width: 138px;
    height: 69px;
  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
  }

  .nav__item {
    width: 25%;
  }

  .nav__item-first {
    text-align: left;
  }

  .nav__item-second {
    text-align: left;
    margin-right: 9%;
  }

  .nav__item:nth-child(3) {
    text-align: right;
  }

  .nav__item:nth-child(4) {
    text-align: right;
    margin-left: 0.2%;
  }

  .nav__link:hover {
    color:#81b3d2;
  }

  .nav__link:active {
    color:#818181;
  }

  .nav__link {
    color:black;
  }

  .nav__link--active {
    color:black;
  }

  .filter-range {
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 7px;
    margin-bottom: 5px;
  }

  .filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }

  .price-controls {
    height: 32px;
    width: 314px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
    position: relative;
  }

  .price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #ffffff;
  }

  .price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    vertical-align: top;
    cursor: pointer;
  }
  .price-controls .min-price,
  .price-controls .max-price {
    width: 90px;
    padding-left: 60px;
  }

  .price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    background: none;
    border: none;
  }

  .prices__title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }

  .prices__range {
    height: 1px;
  }

  .range-controls {
    position: relative;
    margin-bottom: 32px;
  }

  .range-controls .scale {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
  }

  .range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
      -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 1, 1, 0.2);
              box-shadow: 0px 2px 1px 0px rgba(0, 1, 1, 0.2);
    cursor: pointer;
    background: #ababab;
    border: 8px solid #ffffff;
  }

  .range-toggle-min {
    left: 0;
  }

  .btn-transparent {
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    width: 132px;
    height: 32px;
    margin-left: 87px;
    text-align: center;
  }

  .btn-transparent:hover {
    color: #000000;
    background: #ffffff;
  }

  .range-toggle-max {
    left: 80%;
  }

  .range-toggle:hover {
    background: #1c4f80;
  }

  .header__wrapper {
    width: 100%;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 51px;
  }

  .wrapper__title {
    padding-left: 355px;
    padding-right: 355px;
  }

  .title__slogan {
    font-size: 21px;
    line-height: 26px;
    color: black;
    text-align: center;
    margin: 0;
    margin-top:-4px;
  }

  .title__text {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    text-align: center;
    font-weight: normal;
    margin: 0;
    margin-top: 28px;
  }

  .info-nav,
  .info-main {
      display: -webkit-box;
      display: -ms-flexbox;
    display: flex;
    padding-top: 3px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
  }

  .info-nav__block,
  .info-main__text {
    line-height: 21px;
    background-color: #81b3d2;
    text-align: center;
    width: 33.3333333%;
    padding: 44px 3% 3% 44px;
      -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 39px;
  }

  .travel__info {
    padding: 55px;
  width: 458px;
  background-color: white;
  display: block;
  }

  .icon__souvenir {
    background: url("../img/icon-2.png") no-repeat center;
    height: 74px;
  }

  .icon__housing {
    background: url("../img/icon-1.png") no-repeat center;
    height: 74px;
  }

  .icon__food {
    background: url("../img/icon-3.png") no-repeat center;
    height: 74px;
  }

  .info-nav__title,
  .info-main__title {
    font-size:21px;
    color:white;
    padding: 0px 84.5px;
    margin-top:8px;
  }

  .info-nav__hr,
  .info-main__hr {
    padding-top:5px;
  }

  .info-main__desc,
  .info-nav__desc {
    padding-top: 7px;
  }

  .info-nav__desc {
    width: 310px;
  }

  .info-main__desc {
    margin: 0;
    width: 340px;
  }

  .info-nav__hr,
  .info-nav__desc,
  .info-main__hr,
  .info-main__desc {
    font-size:14px;
    color:white;
    font-weight: normal;
  }

  .info-header__housing,
  .info-header__food,
  .info-header__souvenir {
    line-height: 21px;
    background-color: white;
    text-align: center;
    padding-top: 50px;
    width: 33.3333%;
    padding-bottom: 60px;
  }

  .info-header__icon {
    margin-bottom: 26px;
  }

  .info-header__title {
    font-size: 21px;
    color: black;
    margin: 0;
  }

  .info-header__text {
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    padding-left: 58px;
    padding-right: 55px;
    margin: 0;
    margin-top: 26px;
  }

  .info-footer {
    line-height: 21px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(241,241,241);
    min-height: 256px;
  }

  .info-footer__S,
  .info-footer__road,
  .info-footer__tourist {
    padding-top: 46px;
    width: 33.3333%;
    padding-bottom: 56px;
  }

  .info-footer__title {
    font-size:21px;
    color:black;
    width: 30%;
    margin: 0 auto;
    margin-top:0;
  }

  .info-footer__hr {
    font-size:14px;
    color:#333333;
    font-weight: normal;
    margin-top:24px;
    margin-bottom: 18px;
  }

  .info-footer__desc {
    font-size:14px;
    color:#333333;
    font-weight: normal;
    width: 70%;
    margin: 0 auto;
    padding-top: 5px;
  }

.developer__text {
    font-size:14px;
    line-height: 26px;
    color:black;
    font-family: "PT Sans","Arial", sans-serif;
    font-weight: 800;
    padding-bottom: 5px;
  }

  .header__background-logo {
    background: #c0d6e4 url("../img/welcome-sedona-logo.jpg") no-repeat center;
    width: 100%;
    height: 510px;
    background-size: cover;
  }

  .info-nav__photo {
    background: #85b5d3 url("../img/realtown.jpg") no-repeat;
    width: 66.669%;
      background-size: cover;
      min-height: 256px;
  }

  .info-main__photo {
    background: #85b5d3 url("../img/dewils_bridge.jpg") no-repeat;
    width: 66.669%;
    background-size: cover;
    min-height: 256px;
  }

  .hotel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    border-bottom: 0.1px solid #cacaca;
    padding: 28px 6%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .hotel__info {
    margin-left:30px;
  }

  .hotel__right-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
    flex-direction: column;
    width: 120px;
    height: 94px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .right-column__stars {
    text-align: right;
  }

  .hotel__left-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .right-column__img {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .travel__hotels {
    position: absolute;
    text-align: center;
    left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .img__ARS {
    background: url("../img/amara-resort.jpg") no-repeat;
    width: 135px;
    height: 90px;
  }

  .img__DQI {
    background: url("../img/desert_quall_inn.jpg") no-repeat;
    width: 135px;
    height: 90px;
  }

  .img__APD {
    background: url("../img/villas_at_poco_diablo.jpg") no-repeat;
    width: 135px;
    height: 90px;
  }

  .hotel__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
    align-items: center;
  }

  .filtration {
    background: #9eb5ca url("../img/filter\ _background.jpg") no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 217px;
      -webkit-box-align: center;
          -ms-flex-align: center;
    align-items: center;
    padding: 0 6%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .filtration__prices {
    width: 320px;
    margin-left: 350px;
  }

  .container {
    width: 1200px;
  }

  .filtration__visually-hidden,
  .main__visually-hiden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  fieldset {
    border: 0px;
    margin-top: -35px;
    margin-left: 0;
    padding-left: 0;
  }

  .house {
    width: 367px;
    text-align: left;
  }

  .components__checkbox:not(checked),
  .house__checkbox:not(checked) {
    position: absolute;
    opacity: 0;
  }

  .components__checkbox:not(checked) + .component__text,
  .components__checkbox:checked + .component__text,
  .house__checkbox:not(checked) + .component__text,
  .house__checkbox:checked + .component__text {
    position: relative;
    padding: 0 0 0 38px;
    cursor: pointer;
  }

  .house__checkbox:not(checked) + .component__text,
  .house__checkbox:checked + .component__text {
    padding-left:38px;
  }

  .components__checkbox:not(checked) + .component__text:before,
  .house__checkbox:not(checked) + .component__text:before {
    background: url("../img/checkbox-on.png") no-repeat;
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
  }

  .components__checkbox:checked + .component__text:before,
  .house__checkbox:checked + .component__text:before {
    background: url("../img/checkbox-off.png") no-repeat;
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    padding: 25px;
  }

  .check input[type="checkbox"]:focus + .component__text {
    outline: 1px solid rgb(77, 144, 254); 
    outline-offset: 8px;
  }

  .components__checkbox--disabled,
  .house__checkbox--disabled {
    opacity: 0.5;
  }

  .nav {
    font-size:14px;
    color:black;
  }

  legend,
  .prices__title {
    font-size: 16px;
    line-height: 21px;
    color:white;
  }

  .prices__wrapper {
    width: 320px;
  }

  .components__item {
    font-size: 14px;
    line-height: 21px;
    color:white;
    margin-bottom: 23px;
  }

  .house__item {
    font-size: 14px;
    line-height: 21px;
    color:white;
    margin-bottom: 23px;
  }

  .house__list,
  .components__list {
    padding-top: 10px;
  }

  .house__title {
    padding-top: 40px;
  }

  .house__list {
    padding-left: 0;
    margin-left: 0;
  }

  .components__title {
    padding-top: 40px;
  }

  .components__list {
    padding-left: 0;
  }

  .wrapper__of,
  .wrapper__until {
    font-size:14px;
    line-height: 21px;
    color:white;
  }

  .prices__btn {
    font-size:14px;
    line-height: 21px;
    color:white;
    border: 2px solid white; 
    display: block;
    width: 133px;
    height: 32px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 5px;
  }

  .prices__btn:hover {
    color:black;
    background-color: white;
  }

  .container__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #cacaca;
    padding: 0 6%;
    margin-top: 18px;
    padding: 0 6%;
    padding-bottom: 19px;
  }

  .nav__title,
  .nav__text {
    font-size: 21px;
    line-height: 26px;
    color: black;
    padding-bottom: 5px;
    margin: 0 auto;
    white-space: nowrap;
  }

  .nav__sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 50px;
    width: 100%;
    vertical-align: middle;
  }

  .sort__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 2px;
    padding-left: 30px;
  }

  .sort__item:nth-child(2) {
    padding-left: 20px;
  }

  .sort__item:nth-child(3) {
    padding-left: 19px;     
  }

  .sort__title {
    font-family: "PT Sans",Arial,sans-serif;
    font-weight: 800;
    padding-top: 1px;
  }

  .sort__title,
  .sort__btn {
    font-size:12px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .sort__btn:active {
    font-size: 12px;
    line-height: 18px;
    border: 0px solid;
    background-color:white;
    color:black;
    text-decoration: none;
  }

  .sort__btn:hover {
    font-size: 12px;
    line-height: 18px;
    background-color:white;
    -webkit-text-decoration: underline dotted #81b3d2;
    text-decoration: underline dotted #81b3d2;
    color:#81b3d2;
  }

  .sort__btn {
    font-size: 12px;
    line-height: 18px;
    border: 0px solid;
    background-color:white;
    color:#cacaca;
    -webkit-text-decoration: underline dotted #81b3d2;
    text-decoration: underline dotted #81b3d2;
    font-family: "PT Sans","Arial", sans-serif;
    cursor: pointer;
  }

  .sort__btn--active {
    font-size: 12px;
    line-height: 18px;
    border: 0px solid;
    background-color:white;
    color:#81b3d2;
    text-decoration: none;
  }

  .content__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px;
    padding-top: 7px;
  }

  .info__main,
  .info__footer {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
  }

  .info__header {
    font-size:21px;
    line-height: 26px;
    color:black;
  }

  .info__title {
    color: black;
    margin: 0;
    height: 16px;
    margin-top: -4px;
    margin-bottom: 8px;
    height: 100%;
    max-width: 257px;
  }

  .info__title:hover {
    color:#81b3d2;
  }

  .info__title:active {
    color:#818181;
  }

  .info__text {
    font-size:14px;
    line-height: 21px;
    color:#333333;
    margin: 0;
    padding-bottom: 14px;
    width: 110px;
  }

  .info__text-right{
    margin-right: 79px;
    width: 110px;
  }

  .info__link-btn {
    font-size:14px;
    line-height: 21px;
    color:white;
    background-color:#81b3d2;
    border:0px;
    text-decoration: none;
    width: 110px;
      height: 100%;
      -webkit-box-sizing: border-box;
    box-sizing: border-box;;
    text-align: center;
    display: block;
    padding-top: 4px;
    padding-bottom: 3px;
    font-family: "PT Sans","Arial", sans-serif;
    font-weight: 800;
  }

  .info__link-btn:hover {
    background-color: #669ec0;
  }

  .info__link-btn:active {
    background-color: #5496bd;
    color:#818181;
  }

  .info__btn {
    font-size: 14px;
    line-height: 21px;
    color: white;
    background-color: #766357;
    border: 0px;
    width: 142px;
    text-transform: uppercase;
    font-family: "PT Sans","Arial", sans-serif;
    font-weight: 800; 
    color: #fff;
    background-color: #766357;
    width: 142px;
    height: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    min-height: 27px;
    cursor: pointer;
  }

  .info__btn:hover {
    background-color: #604e43;
  }

  .info__btn:active {
    background-color: #503e33;
    color:#818181;
  }

  .right-column__rate {
    font-size: 14px;
    line-height: 21px;
    color: rgb(102, 102, 102);
    background-color: #fafafa;
    text-align: center;
      -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding: 5px;
  }

  .hoter__right-wrapper {
    position: relative;
  }

  .nav__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
    justify-content: flex-end;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
    flex-direction: row;
  }

  .page--active {
    fill:#81b3d2;
  }

  .page__up,
  .page__down {
    background-color: white;
    border:0px solid;
    padding: 0;
    margin-left: 10px;
    width: 12px;
    cursor: pointer;
  }

  .page__img--current {
    fill: #cacaca;
  }

  .page__img--current:hover,
  .page__img--pending:hover {
    fill:#000000;
  }

  .page__img--current:active,
  .page__img--pending:active {
    fill:#81b3d2;
  }

  .offers {
    position: relative;
  
    margin: 0;
  
    line-height: 1.71;
    color: #333;
  }
  
  .offers h2 {
    margin: 0;
    padding-top: 51px;
    padding-bottom: 25px;
  
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    color: #000;
  }
  
  .question {
    width: 434px;
    margin: 0 auto;
    padding-bottom: 49px;
  
    text-align: center;
  }
  
  .question p {
    margin: 0;
  }
  
  .offers-button {
    position: absolute; 
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    display: block;
    width: 567px;
    margin: 0 auto;
    padding: 31px 0px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: none;
    color: #ffffff;
    background-color: #766357;
  }
  
  .offers-button:hover,
  .offers-button:focus {
    background-color: #604e43;
  }
  
  .offers-button:active {
    color: rgba(255, 255, 255, .3);
    background-color: #503e33;
  }
  
  .form {
    position: absolute;
    z-index: 4;
    right: 0;
    left: 0;
    width: 568px;
    height: 395px;
    margin: 0 auto;
    padding: 55px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: bold; 
    text-align: center; 
    background-color: #ffffff;    
    -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);    
            box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
            -webkit-animation: slide-down;
            animation: slide-down;    
    -webkit-animation-duration: 0.7s;    
            animation-duration: 0.7s; 
    -webkit-animation-timing-function: linear; 
            animation-timing-function: linear;     
}
  
  .offers-button {
    position: relative;
    z-index: 1;
  
    cursor: pointer;
  }
  
  .form-wrap {
    position: relative;
    z-index: 2;
  
    display: none;
  }
  
  .map {
    z-index: 0;
    bottom: 122px;
  
    width: 1200px;
    height: 593px;
    min-height: 593px;
    margin-bottom: -122px;
  
    background-color: #f2f2f2;
  }
  
  .image-map { 
    position: absolute;
    z-index: 0;
  }
  
  .map-link {
    position: relative;
    z-index: 1;
  }
  
  .form-show {
    display: block;
  }
  
  .form div:last-child {
    margin: 54px 0 0 0;
  }
  
  .form-line {
    position: relative;
    width: 100%;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    align-items: flex-start;
}

.form-line input[type="text"] {
    width: 346px;
    height: 38px;

    background-color: #f2f2f2;
    border: none;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 45px;
    
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
    font-family: "PT Sans", "Arial", sans-serif;
    margin-left: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.form-line-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 38px;
}

.form-line-amount input[type="text"] {
    position: relative;
    width: 38px;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f2f2;
    border: none;
}

.form-line-amount .children {
    padding-left: 21px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid black;
}

.form-line label {
    margin-top: 7px;
}

label[for="children"] {
    padding-left: 53px;
}

.icon-calendar-button {
    position: absolute;
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 0;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon-calendar-button:hover path {
    fill: #000000;
}

.icon-calendar-button:active path {
    fill: #81b3d2;
}

.icon-calendar-button:focus {
    outline: none;
}

.btn-minus,
.btn-plus {
    position: relative;
    width: 39px;
    height: 38px;
    padding-bottom: 4px;
    background-color: #f2f2f2;
    border: none;
    outline: none;
}

.btn-minus {
    margin-left: auto;
}

.btn-minus::after, 
.btn-plus::before,
.btn-plus::after  {
    content: "";
    position: absolute;
    width: 11px;
    height: 3px;
    margin: auto;
    left: 0;
    right: 0;
    background-color: #a9a9a9;
}

.btn-plus::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}

.btn-minus:hover::after,
.btn-plus:hover::before,
.btn-plus:hover::after {
    background-color: #000000;
}
.btn-minus:active::after,
.btn-plus:active::before,
.btn-plus:active::after {
    background-color: #81b3d2;
}

.icon-calendar:hover {
    color: #000000;
}
.icon-calendar:active {
    color: #81b3d2;
}
  
.hotel-search-button-blue {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 17px 20px;
  width: 458px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
}

.hotel-search-button-blue:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.hotel-search-button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.index-footer {
  position: absolute;
  bottom: 0;

  background-color: rgba(254, 254, 254, .9);
}

.page-footer {
  position: relative;
  z-index: 1;

  display: flex;

  margin: 0;
  padding-top: 33px;
  padding-bottom: 32px;

  color: #000;

  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;

  margin: 0 auto; 
  margin-left: 124px;
  
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.footer-parth {
  display: flex;
  width: 400px;
}

.tel {
  padding-top: 5px;
}

.footer-socials {
  width: 33.3333%;
  margin-top: 3px;
}

.footer-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 148px;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; 
  width: 46px;
  height: 48px;
  margin-bottom: 4px;
  background-color: #81b3d2; 
}

.social-button:hover {
  background-color: #669ec0;;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.copyright {
  display: flex;

  margin: 0 auto;

  align-items: center;
}

.copyright p {
  margin-top: 10px;
}

.htmlacademy-logo {
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.htmlacademy-logo:hover svg,
.htmlacademy-logo:focus svg {
  width: 115px;
  height: 41px;

  fill: #81b3d2;
}

.htmlacademy-logo:active svg {
  width: 115px;
  height: 41px;

  fill: #bdbbbc;
}